.btn.btn-primary {
    margin-left: 10px;
}
.container-fluid {
    background-color: white;
    padding-left: 0 !important; /* Remove left padding */
    padding-right: 0 !important; /* Remove right padding */
    height: 100vh;
}

.rounded-square {
    border-radius: 10px;
}