.intro-section {
    color: white;
    padding: 20px;
    text-align: center;
}
.container{
    padding-bottom: 100px !important;
}
.contact{
    color: white !important;
}
.contact-title{
    padding-bottom: 30px !important;
    text-align: left!important;
}
.divider-nospace {
    border-top: 1px solid white;
}
.divider {
    height: 2px;
    background-color: white !important ;
    
}