<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Contact Us</h1>
    </div>
        <div class="contact__content">
            <div class="maps">
                <div class="contact__maps">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.9232490033883!2d105.81679641473157!3d21.03575678599455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab0d127a01e7%3A0xab069cd4eaa76ff2!2zMjg1IMSQ4buZaSBD4bqlbiwgVsSpbmggUGjDuiwgQmEgxJDDrG5oLCBIw6AgTuG7mWkgMTAwMDAwLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1654098499312!5m2!1svi!2s"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="contact__address">
                    <div class="contact__address_item">
                        <h2>LIBERTY ELECTRONICS</h2>
                        <p>Address: <b> 285 Doi Can, Ba Dinh, Ha Noi</b></p>
                        <p>Phone: <b>(024) 3999 9999 - 0988 888 999</b></p>
                        <p>Hotline: <b>0989999999</b> </p>
                    </div>
                </div>
            </div>
        </div>

</div>
<app-footer></app-footer>