.container {
    color: white;
}
.intro-section {
    color: white;
    padding: 20px;
    text-align: center;
}
.product-header {
    color: cyan!important;
    text-align: center;
    padding-top: 20px;
}
.form-control {
    background-color:white!important;
    border: 1px solid rgb(29, 33, 54);
    color: black;
}

.form-control:focus {
    border-color: cyan!important;
    background-color: white!important;
}
.form-label {
    color: white;
}
.row{
    padding-bottom: 30px;
}


