<app-header></app-header>
<h1>This is home page</h1>
<div class="container">
    <div class="col-md-6">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item">
                    <div class="square-image">
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:90/plain/https://dashboard.cellphones.com.vn/storage/tai-nghe-khong-day-sony-inzone-buds-slide-1802.jpg"
                            class="product-image" alt="Product Image">
                    </div>
                    <div class="square-image">
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:90/plain/https://dashboard.cellphones.com.vn/storage/dong-ho-thong-minh-xiaomi-redmi-watch-3-active-slide-1802.jpg"
                            class="product-image" alt="Product Image">
                    </div>
                    <div class="square-image">
                        <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:90/plain/https://dashboard.cellphones.com.vn/storage/smart-tivi-khung-tranh-samsung-the-frame-ltv-4k-55-inch-55ls03ba-slide-1802.jpg"
                            class="product-image" alt="Product Image">
                    </div>
                    
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="row">
            <div class="thumbnail-container">
                <div class="thumbnail-item">
                    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:90/plain/https://dashboard.cellphones.com.vn/storage/laptop-asus-zenbook-14-oled-um3402ya-km405w-slide-1802.png"
                        class="thumbnail-image" alt="Thumbnail Image">
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>