<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>This is Home</h1>
        <p>List of Product with pictures</p>
    </div>
    <!-- 1 search box on left, 1 combobox on right  -->
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Search product..." />
        <select class="form-control product-category">
            <option selected disabled>Categories</option>
            <option value="1">Category 1</option>
            <option value="2">Category 2</option>
            <option value="3">Category 3</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/2529148/pexels-photo-2529148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Description of product 1</p>
                <p class="product-warranty">Warranty : 12 months</p>
                <p class="product-price">Price : <del>200$</del> 100$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Add to cart</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/2529148/pexels-photo-2529148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Description of product 1</p>
                <p class="product-warranty">Warranty : 12 months</p>
                <p class="product-price">Price : <del>200$</del> 100$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Add to cart</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/2529148/pexels-photo-2529148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Description of product 1</p>
                <p class="product-warranty">Warranty : 12 months</p>
                <p class="product-price">Price : <del>200$</del> 100$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Add to cart</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/2529148/pexels-photo-2529148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Description of product 1</p>
                <p class="product-warranty">Warranty : 12 months</p>
                <p class="product-price">Price : <del>200$</del> 100$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Add to cart</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/2529148/pexels-photo-2529148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Description of product 1</p>
                <p class="product-warranty">Warranty : 12 months</p>
                <p class="product-price">Price : <del>200$</del> 100$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Add to cart</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>